<footer class="block block--dark footer">
    <div class="container grid footer__sections">
       <section class="collapsible collapsible__expanded footer__section">
           <header class="collapsible__header">
               <h2 class="collapsible__heading footer__heading">Item1</h2>
                   <svg  class="icon icon--white collapsible__chevron " xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-b</title><path d="M256,64C150,64,64,150,64,256s86,192,192,192,192-86,192-192S362,64,256,64Z" style="fill:black;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/><polyline points="352 216 256 312 160 216" style="fill:black;stroke:#fff ;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                   </svg>
           </header>
           <div class="collapsible__content">
               <ul class="list">
                   <li><a href="#">Website Hosting</a></li>
                   <li><a href="#">Free Automated Wordpress</a></li>
                   <li><a href="#">Migrations</a></li>
               </ul>
           </div>
       </section>
       <section class="collapsible footer__section">
           <header class="collapsible__header">
               <h2 class="collapsible__heading footer__heading">Item2</h2>
                   <svg  class="icon icon--white collapsible__chevron" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-b</title><path d="M256,64C150,64,64,150,64,256s86,192,192,192,192-86,192-192S362,64,256,64Z" style="fill:black;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/><polyline points="352 216 256 312 160 216" style="fill:black;stroke:#fff ;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                   </svg>
           </header>
           <div class="collapsible__content">
               <ul class="list">
                   <li><a href="#">Website Hosting</a></li>
                   <li><a href="#">Free Automated Wordpress</a></li>
                   <li><a href="#">Migrations</a></li>
               </ul>
                       </div>
       </section>
       <section class="collapsible footer__section">
           <header class="collapsible__header">
               <h2 class="collapsible__heading footer__heading">Item3</h2>
                   <svg  class="icon icon--white collapsible__chevron" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-b</title><path d="M256,64C150,64,64,150,64,256s86,192,192,192,192-86,192-192S362,64,256,64Z" style="fill:black;stroke:#000;stroke-miterlimit:10;stroke-width:32px"/><polyline points="352 216 256 312 160 216" style="fill:black;stroke:#fff ;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                   </svg>
           </header>
           <div class="collapsible__content">
               <ul class="list">
                   <li><a href="#">Website Hosting</a></li>
                   <li><a href="#">Free Automated Wordpress</a></li>
                   <li><a href="#">Migrations</a></li>
               </ul>
                       </div>
       </section>
       <section class="footer__brand">
           <img src="images/logo.svg" alt="">
           <p class="footer__copyright">Copyright&copy; 2024 Erfan Takashofsavar</p>
       </section>
    </div>
  </footer>
  <script src="/main.js"></script>